.assignmentDivList
{
  margin: 2;
  display: flex;
  flex-wrap: wrap;
}

.assignmentCards {
  border: 2px solid #009A9C;
  margin: 1em 1em;
  padding: .5em .5em;
  width: 50%;
  display:flexbox;
  flex-wrap: wrap;
  align-content:flex-start;
  
}

.fff{
 
  display: flex !important;
  justify-content: space-around ;
  flex-wrap: row;
}

/* CSS */
.button-34 {
  
  
}

.buttonDetail {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 3px .5px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 11em;
  word-break: break-word;
  border: 0;
  margin: .5em;
}

.assignmentDetailBtn
{
  margin: 1em;
}

.smallButtonDetail
{
  background: #5E5DF0;
  
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 13px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 3px .5px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 1em;
  word-break: break-word;
  border: 0;
  margin: .5em;
}
.mark-done{
background-color: green !important;
}

.mark-working{
  background-color: yellow !important;
}